#transactionsTable > tbody > tr > td:nth-child(4) {
    text-align: right;
}

/* CSS-LOADER */
#loading {
    /*display: none;*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 42;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204,204,204);
    border-left-color: rgb(82,82,82);
    border-radius: 1124px;
    -o-border-radius: 1124px;
    -ms-border-radius: 1124px;
    -webkit-border-radius: 1124px;
    -moz-border-radius: 1124px;
}

.cssload-whirlpool {
    margin: -28px 0 0 -28px;
    height: 56px;
    width: 56px;
    animation: cssload-rotate 3100ms linear infinite;
    -o-animation: cssload-rotate 3100ms linear infinite;
    -ms-animation: cssload-rotate 3100ms linear infinite;
    -webkit-animation: cssload-rotate 3100ms linear infinite;
    -moz-animation: cssload-rotate 3100ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -26px 0 0 -26px;
    height: 50px;
    width: 50px;
    animation: cssload-rotate 3100ms linear infinite;
    -o-animation: cssload-rotate 3100ms linear infinite;
    -ms-animation: cssload-rotate 3100ms linear infinite;
    -webkit-animation: cssload-rotate 3100ms linear infinite;
    -moz-animation: cssload-rotate 3100ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -33px 0 0 -33px;
    height: 63px;
    width: 63px;
    animation: cssload-rotate 6200ms linear infinite;
    -o-animation: cssload-rotate 6200ms linear infinite;
    -ms-animation: cssload-rotate 6200ms linear infinite;
    -webkit-animation: cssload-rotate 6200ms linear infinite;
    -moz-animation: cssload-rotate 6200ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}
