<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="cs">

    <title>Transakce | Transparentní účty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="/css/style.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <script src="/js/transactions.js"></script>
</head>
<body>
<div class="container cssload-container">
    <div class="page-header">
        <h1>Transakce
            <small>transparentních účtů</small>
        </h1>
    </div>

    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input id="transactionsTableFilter" class="form-control" size="50" placeholder="Je libo filtr?"/>
        </div>
    </div>

    <hr/>

    <table id="transactionsTable" class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Účet</th>
            <th>Protistrana</th>
            <th>Částka</th>
            <th>VS</th>
            <th>CS</th>
            <th>SS</th>
            <th>Popis</th>
            <th>Zpráva pro příjemce</th>
        </tr>
        </thead>
        <tbody/>
    </table>
</div>
<div id="loading">
    <div class="cssload-whirlpool"></div>
</div>
</body>
</html>